[Unit]
Description=Zerium Full Node
After=network.target

[Service]
User=zerium
Group=zerium
WorkingDirectory=~
RuntimeDirectory=zerium

Type=forking
PIDFile=/run/zerium/zeriumd.pid

ExecStart=/usr/bin/zeriumd --config-file /etc/zeriumd.conf \
    --detach --pidfile /run/zerium/zeriumd.pid

[Install]
WantedBy=multi-user.target
